# Version control
.git
.gitignore

# Python caches
__pycache__
*.pyc
*.pyo
*.egg-info
dist
build

# IDE / editor
.vscode
.idea
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Dev / test files
tests/
*.test.py
*.md
*.txt
!pyproject.toml

# Docker build artifacts
Dockerfile
.dockerignore
